@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    /* scroll-behavior: smooth; */
  }

.container{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

.custom-gradient{
    background: linear-gradient(283.4deg, #FFE7CB 1.36%, #FFF9F2 98.8%);
}

.clip-circle{
    background: linear-gradient(221.87deg, rgba(255, 231, 203, 0.1) 4.21%, #FFE7CB 85.88%);
    clip-path: circle(50% at 50% 50%);
}

#testimonial-play-btn{
  box-shadow: -1px var(--sds-size-depth-025) var(--sds-size-depth-100) var(--sds-size-depth-0) var(--sds-color-black-100);
}

.consult-gradient{
  background: linear-gradient(270.06deg, #FFDDB8 0.8%, #FFF4E8 97.64%);
}

#doctor-section{
  background: linear-gradient(90.06deg, #FFFFFF 2.36%, #FFF4E8 99.2%);
}

.pricing-card{
  background: linear-gradient(180deg, #FFFFFF 24.27%, #FFF4E8 100.06%);
}

 .footer{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 251, 248, 0.4) 100%);
} 

.doctor-img:hover .pop-up-card{
  bottom: 120px;
  opacity: 1;
}

.headline{
  @apply font-sora text-[48px] w-[636px] leading-[60.48px] font-semibold;
}

.btn{
  @apply h-[60px] w-[308.67px] rounded-[10px] py-[20px] px-[22px] uppercase font-poppins font-semibold text-[16px] leading-[19.2px] text-[#FFFFFF] bg-[#CD0001] hover:transform hover:scale-[1.100] hover:bg-[#ac0000de] duration-300 transition-all ease-linear;
}

.feature-card{
  box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-025) var(--sds-size-depth-100) var(--sds-size-depth-0) var(--sds-color-black-100);
  @apply  p-[16px] rounded-[20px] hover:backdrop-blur-[2.399999618530273px] hover:transform hover:scale-[1.0700] transition-all ease-linear backdrop-blur-[17.399999618530273px] bg-[#ffffff8f];
}